[program:peer]
directory=/usr/local/bin ; cwd for program
command=/usr/local/bin/peer

; Log file handling
stdout_logfile=/var/log/%(program_name)s.log
stderr_logfile=/var/log/%(program_name)s-stderr.log
stdout_logfile_backups=10
stderr_logfile_backups=10
user=fedora ; user to run hubot as
startsecs=10
autorestart=true

; Add any environment vars needed below
environment = 
  CORE_LEDGER_STATE_COUCHDBCONFIG_COUCHDBADDRESS=couchdb:5984, 
  CORE_LOGGING_PEER=debug,
  CORE_PEER_LOCALMSPID=Org1MSP, 
  CORE_VM_ENDPOINT=unix:///host/var/run/docker.sock, 
  CORE_CHAINCODE_LOGGING_LEVEL=DEBUG, 
  CORE_LEDGER_STATE_COUCHDBCONFIG_PASSWORD='',
  CORE_PEER_MSPCONFIGPATH=/etc/hyperledger/msp/peer/, 
  CORE_PEER_ID=peer0.org1.example.com, 
  FABRIC_CFG_PATH=/etc/hyperledger/fabric, 
  CORE_LEDGER_STATE_COUCHDBCONFIG_USERNAME='', 
  CORE_PEER_ADDRESS=peer0.org1.example.com:7051, 
  CORE_LEDGER_STATE_STATEDATABASE=CouchDB
